<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Mimimimetr!</title>
</head>
<body>
<h1 style="text-align: center;"><span style="color: #1fe0e0;">Mimimimetr!</span></h1>
<h2 style="text-align: center;"><span style="color: #0c2a2a;">You can choose one of the cats that you like the most.</span></h2>
<p>
<form action="/sign-in/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form style="text-align: center;"
      th:object="${chosenImageInfo}"
      th:action="@{/chosen}"
      method="post">
    <input type="hidden" th:value="${catPairId}" th:name="catPairId"/>
    <button th:type="text" th:value="${first_cat.id}" th:name="chosenCatId">
        <img th:src="${first_cat.photoUrl}"
             width="256" height="256" th:title="${first_cat.name}"></button>

    <button th:type="text" th:value="${second_cat.id}" th:name="chosenCatId">
        <img th:src="${second_cat.photoUrl}"
             width="256" height="256" th:title="${second_cat.name}"></button>
    </p>
    </br>
    <span style="padding-left:120px;">
        <button th:type="text" th:value="${first_cat.id}" th:name="chosenCatId" th:text="${first_cat.name}"></button>
    </span>
    <span style="padding-left:250px;">
        <button th:type="text" th:value="${second_cat.id}" th:name="chosenCatId" th:text="${second_cat.name}"></button>
    </span>
</form>
</body>
</html>