<html xmlns="http://www.w3.org/1999/xhtml" xmlns:display="http://www.w3.org/1999/xhtml"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Mimimimetr!</title>
</head>
<body>
<h1 style="text-align: center;">
    <span style="color: #1fe0e0;">
        <a href="/"  style="text-decoration: none">Mimimimetr!</a>
    </span>
</h1><table style="border-collapse: collapse; width: 100%; margin-left: auto; margin-right: auto; height: 18px;" border="1">
    <tbody>
    <tr style="height: 18px;">
        <td style="width: 25%; height: 18px; text-align: center;">
            <a href="/sign-in"  style="text-decoration: none">Sign - In</a></td>
        <td style="width: 25%; height: 18px; text-align: center;">
            <a href="/sign-up"  style="text-decoration: none">Sign - Up</a></td>
        <td style="width: 25%; height: 18px; text-align: center;">
            <a href="/choose"  style="text-decoration: none">Choose cat</a></td>
        <td style="width: 25%; height: 18px; text-align: center;">
            <a href="/rating"  style="text-decoration: none">Rating</a></td>
    </tr>
    </tbody>
</table>

</br>
<h2 style="text-align: center;"><span style="color: #0c2a2a;">Top-10 cats rating</span></h2>
<p>
<form action="/sign-in/logout" method="post">
    <button type="submit">Logout</button>
</form>
<div style="text-align: center;">
    <table style="margin-left: auto; margin-right: auto;"
            class="table table-hover">
        <thead>
        <tr>
            <th>Position</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Voices</th>
        </tr>
        </thead>
        <body>
        <tr th:each="cats, iter : ${top_ten}">
            <td th:text="${iter.index+1}"></td>
            <td><img th:src="${cats.photoUrl}" width="256" height="256"></td>
            <td th:text="${cats.name}"></td>
            <td th:text="${cats.numOfVoices}"></td>
        </tr>
        </body>
    </table>
</div>
</body>
</html>