<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Mimimimetr!</title>
</head>
<body>
<h1 style="text-align: center;"><span style="color: #1fe0e0;">Mimimimetr!</span></h1>
<p>
<div th:if="${param.error}">
    <span style="color: #f10404;">
    Invalid username or password.
    </span>
</div>
<div th:if="${param.logout}">
    <span style="color: #0447f3;">
    You have been logged out.
    </span>
</div>
<form style="text-align: center;"
      th:action="@{/sign-in}"
      method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<div style="text-align: center;"><a th:href="@{/sign-up}">Sign Up</a></div>

</body>
</html>